{% extends "base.html" %}
{% block content %}
		<br/>
	{% for q in quest_list_all %}

		<div class= "quest-list-item">
			<a href="/maceralar/{{ q.id }}/">
			<img alt="{{other_user.id}}" class="avatar" src="{{MEDIA_URL}}{{ q.photo }}"  width="300" height="200"/>
			</a>
            <div class="quest-list-item-info">
                <div class="title">
	            <a href="/maceralar/{{ q.id }}/">
		            {{ q.title }}
	            </a>
                </div>
                <div class="tags">
                    {{ q.date }}
                </div>
            </div>
		</div>
	{% endfor %}
{% endblock %}
