{% extends "base.html" %}

{% block content %}

<div id="quest-photo">
	<div class="quest-photo-header">
		<img src="{{ MEDIA_URL }}{{ quest.photo }}" alt=" {{ quest.id }}" />
        <div id="quest-title" class="title">
	        {{ quest.title }}

        </div>

		<div class="author">
            <span class="label label-inverse">Original</span>
		</div>

	</div>
</div>

	<ul id="quest-tabs" class="tabs">
		<li class="active"><a href="#activity">Info &amp; Activity</a></li>
		<li class=""><a href="#completed">Completed <span class="count">1</span></a></li>
	</ul>

	<div id="tab-content">

        <div id="activity" class="active">
	        <h3 align="center"> {{ quest.description }} </h3>
	        <div id="quest-info" class="container-fluid">
                <div class="sidebar">
                    <div id="author_well" class="well">
                        {{ quest.creator }}
                    </div>

                </div>

		        <div class="content">


		        </div>
	        </div>
        </div>

		<div id="completed">

		</div>

	</div>


	<br/><br/><br/><br/>
	<h4> Tamamlanan Maceralar</h4>
	{% for q in completed_quests %}
		<div>
			Tamamlayan : {{ q.competitor }}
			<img src="{{ MEDIA_URL }}{{ q.photo }}" alt=" {{ q.id }}" />
		</div>
		<br>
	{% endfor %}
	<a href="{% url quest_complete quest.id  %}"> Macerayı Tamamlak için tıkla </a>
	<div id="quest-infos">

		<br>
		Title : {{ quest.title }}
		<br>
		Status : {{ quest.status }}
		<br>
		Description : {{ quest.description }}
		<br>
		City : {{ quest.city }}
		<br>
		Country : {{ quest.country }}
		<br>
		Difficulty : {{ quest.difficulty }}
		<br>
		Point : {{ quest.point }}
		<br>
		Date : {{ quest.date }}
		<br>
		Shared onFB: {{ quest.shareOnFacebook }}
		<br>
		Photo_id : {{ quest.photo_id }}
		<br>
		Photo : {{ quest.photo }}
		<br>
		Creator : {{ quest.creator }}
		<br>
		Creator_id : {{ quest.creator_id }}
		<br>


		<div>
			<p>Bu maceranın id: {{ quest.id }} ise completedquest 'leri search edip list_of_completedquests assign et.
				Sonra burada resimlerde ve Completed tabında göster.</p></div>

	</div>

{% endblock %}
