{% extends "base.html" %}
{% block content %}
<section id="content">
	<div class="container">

<div class="page-header">
	<h1>About Neyi Bekliyorsun</h1>
            <a href="{% url auth_login %}" class="btn">Giriş </a>
</div>



<p>Uzun zaman oldu bu soruya cevap aramayalı. Aslında cevaptan önce, bu soruya cevap verme ile vermeme arasında bocalamamalı. Sorunun geldiği kişiye ve de sorulduğu zamana göre cevabı değişen bir soru bu. Ne zaman bu sorunun cevabını arasam “Değişmeyen tek şey değişimdir” sözünün doğruluğunu hatırlatan yine bu soru oluyor. Beklediğim şekildeki cevabı verebilecek çok sayıda kişinin olmadığını düşündüğüm bir soru: “Kendini anlatır mısın?”
Cevaptan çok sorunun üstünde duruşumun, kelimelerle küçük tatlı oyunlar oynayarak bu yazıyı uzatışımın nedeni; kendimi anlatamayacak oluşumdan dolayıdır. Anlamadığı şeyi anlatamaz insan ve ender rastlanır kendini anlamış, kendinin farkında olan insanlarla rastlaşmak. Ben daha kendimi anlama çabasında olan ve çoğu zaman kendime anlam veremeyerek yok ben oynamıyorum diyen bir kişiyim. (Başlıyorum sanırsam kendimi anlatmaya;) )
Bazen kendimi bu hayat denen sürecin içinde olmaması gereken biri olarak görür, hayattan sıkılır, dünyadan olabildiğince kendimi soyutlarım. Bazense sanki çok büyük amaçlarım varmışçasına namludan çıkan bir mermi gibi yoluma giderim. Hayatımı “Hızlı yaşa genç öl” sözünü göz önünde bulundurarak yaşamış ve üniversiteye geldiğimde biraz fazla hızlı yaşadığımı ve gençken ölmeyip de yaşlandığımı fark ederek bir anda huzur arayan orta yaş üstü kesime özenen bir kişiyim. Şimdilerde ise biraz daha yaşamın gerektirdiklerini daha fazla önemsemeye başlayan ve aynı zamanda robot olmama çabasında olan biriyim. Öyleyim, böyleyim, şöyleyim. İlerde belki bir ara kendimi anlatma çabama devam eder sizlerle paylaşırım. “kendini anlatma” konusunda hiç iyi olmayan benden şimdilik bu kadar.</p>

<p>88 jenerasyonunun bir bireyi olarak Antalya gibi sıcak bir memlekette dünyaya gelmişim. Antalya’daki öğrenimimi ve hala çok büyük bir şekilde özlemini duyduğum günleri tamamladıktan sonra İstanbul Teknik Üniversite’sini kazanmış olmam vesilesiyle İstanbul’da buldum kendimi:) İstanbul da benim gibiydi, gerektiği zaman kendi başına kendi işlerine, sorumluluklarına yoğunlaşmış; kimi zaman da arkadaşlarla güzel mekanlarında güzel paylaşımlar için mükemmeldi. İsmimin anlamıyla* belki geliyor bu kadar arkadaş canlısı  ve bir o kadar onlarla vakit geçirmemin getirdiği mutluluk.

İstanbul insanlar taşır, çok çeşitli.. Benim taşıdığım en önemli şey ise sorumluluk ve arkadaşlarımdır. Bu beni bazen yorsa da büyük eşit olarak hayatımı canlı tutar, İstanbul gibi… Kısaca çok ortak paydam var bu şehird(l)e! Her ne kadar son zamanlarda iş güç sebebiyle arkadaşlarıma fazla zaman ayıramasam da kalplerimizin hep bir olduğu aklımdan hiç bir  zaman çıkmamıştır.

Kendimi anlatma kısmını fazla uzatmayarak, kısaca hiç de kısa olmayan yaşanmışlıkları yaşamayı, anımın tadını çıkarırken yapmam gerekenleri yapıyor olmayı bilen;öğrenmeyi, öğretmeyi, güldürmeyi ve güldürürken düşündürmeyi çok seven bir insan evladıyımdır:)

Saygılarımla…

*dost</p>

<p>Uzun zaman oldu bu soruya cevap aramayalı. Aslında cevaptan önce, bu soruya cevap verme ile vermeme arasında bocalamamalı. Sorunun geldiği kişiye ve de sorulduğu zamana göre cevabı değişen bir soru bu. Ne zaman bu sorunun cevabını arasam “Değişmeyen tek şey değişimdir” sözünün doğruluğunu hatırlatan yine bu soru oluyor. Beklediğim şekildeki cevabı verebilecek çok sayıda kişinin olmadığını düşündüğüm bir soru: “Kendini anlatır mısın?”
Cevaptan çok sorunun üstünde duruşumun, kelimelerle küçük tatlı oyunlar oynayarak bu yazıyı uzatışımın nedeni; kendimi anlatamayacak oluşumdan dolayıdır. Anlamadığı şeyi anlatamaz insan ve ender rastlanır kendini anlamış, kendinin farkında olan insanlarla rastlaşmak. Ben daha kendimi anlama çabasında olan ve çoğu zaman kendime anlam veremeyerek yok ben oynamıyorum diyen bir kişiyim. (Başlıyorum sanırsam kendimi anlatmaya;) )
Bazen kendimi bu hayat denen sürecin içinde olmaması gereken biri olarak görür, hayattan sıkılır, dünyadan olabildiğince kendimi soyutlarım. Bazense sanki çok büyük amaçlarım varmışçasına namludan çıkan bir mermi gibi yoluma giderim. Hayatımı “Hızlı yaşa genç öl” sözünü göz önünde bulundurarak yaşamış ve üniversiteye geldiğimde biraz fazla hızlı yaşadığımı ve gençken ölmeyip de yaşlandığımı fark ederek bir anda huzur arayan orta yaş üstü kesime özenen bir kişiyim. Şimdilerde ise biraz daha yaşamın gerektirdiklerini daha fazla önemsemeye başlayan ve aynı zamanda robot olmama çabasında olan biriyim. Öyleyim, böyleyim, şöyleyim. İlerde belki bir ara kendimi anlatma çabama devam eder sizlerle paylaşırım. “kendini anlatma” konusunda hiç iyi olmayan benden şimdilik bu kadar.</p>

<p>88 jenerasyonunun bir bireyi olarak Antalya gibi sıcak bir memlekette dünyaya gelmişim. Antalya’daki öğrenimimi ve hala çok büyük bir şekilde özlemini duyduğum günleri tamamladıktan sonra İstanbul Teknik Üniversite’sini kazanmış olmam vesilesiyle İstanbul’da buldum kendimi:) İstanbul da benim gibiydi, gerektiği zaman kendi başına kendi işlerine, sorumluluklarına yoğunlaşmış; kimi zaman da arkadaşlarla güzel mekanlarında güzel paylaşımlar için mükemmeldi. İsmimin anlamıyla* belki geliyor bu kadar arkadaş canlısı  ve bir o kadar onlarla vakit geçirmemin getirdiği mutluluk.

İstanbul insanlar taşır, çok çeşitli.. Benim taşıdığım en önemli şey ise sorumluluk ve arkadaşlarımdır. Bu beni bazen yorsa da büyük eşit olarak hayatımı canlı tutar, İstanbul gibi… Kısaca çok ortak paydam var bu şehird(l)e! Her ne kadar son zamanlarda iş güç sebebiyle arkadaşlarıma fazla zaman ayıramasam da kalplerimizin hep bir olduğu aklımdan hiç bir  zaman çıkmamıştır.

Kendimi anlatma kısmını fazla uzatmayarak, kısaca hiç de kısa olmayan yaşanmışlıkları yaşamayı, anımın tadını çıkarırken yapmam gerekenleri yapıyor olmayı bilen;öğrenmeyi, öğretmeyi, güldürmeyi ve güldürürken düşündürmeyi çok seven bir insan evladıyımdır:)

Saygılarımla…

*dost</p>

</section>


  
  {% endblock %}
