{% extends 'outerbase.html' %}
{% block sidebar %}

	 <div id="sidebar" >
        	<div id="stats-bar"> 
				<div class="container">
					<li>
						<ul class="last">
							<a href="as"><img alt="1066_thumb" class="avatar" src="" /></a>
						</ul>
				
						<ul>
							<div class="title">COUNTRIES</div>
							<div class="stat icon-globe">0</div>
						</ul>
				
						<ul>
							<div class="title">COMPLETED</div>
							<div class="stat icon-map">0</div>
						</ul>
				
						<ul>
							<div class="title">RANK</div>
							<div class="stat icon-medal">
								n/a
							</div>
						</ul>
				
						<ul>
							<div class="title">POINTS</div>
							<div class="stat icon-star">0</div>
						</ul>
							<ul class="spacer"></ul>
							<ul class="spacer"></ul>
				</li>
			</div>
		</div><!-- /stats-bar -->
	</div>
{% endblock %}
{% block content %}


{% endblock %}
