
<div id="fb-root"></div>
{% include 'django_facebook/_facebook_js.html' %}
{% if user.is_authenticated %}  {# User is logged in #}


<ul id="nav">
    <div id="welcome" onclick="location.href='/';" style="cursor:pointer;">Neyi Bekliyorsun?</div>
    <li class="current"><a href="/maceralar" >Maceralar</a></li>
    <li><a href="{% url quest_add %}">My Macera Öner</a></li>
	<li><a href="{% url leaderboard %}">Puan Durumu</a></li>
    <li><a href="">Yardım</a>
        <ul>
            <li><a href="/about">Hakkımızda</a></li>
            <li><a href="/faq">SSS</a></li>
            <li><a href="/help">Yardım</a></li>
         </ul>
    </li>

    <li class="login">
        <a href="{% url auth_logout %}" class="btn">Çıkış </a>

    </li>
</ul>


{% else %} {# anonymous User show -> least #}

    <ul id="nav">
        <div id="welcome" onclick="location.href='/';" style="cursor:pointer;">Neyi Bekliyorsun?</div>
        <li class="current"><a href="/maceralar" >Maceralar</a></li>
        <li><a href="/macera/yeni">My Macera Öner</a></li>
        <li><a href="">Yardım</a>
            <ul>
                <li><a href="/about">Hakkımızda</a></li>
                <li><a href="/faq">SSS</a></li>
                <li><a href="/help">Yardım</a></li>
             </ul>
        </li>
        <li class="login">
            <!--form to call registration via facebook -->

                <input type="hidden" value="{{ request.path }}" name="next" />

                    <a onclick="F.connect(this.parentNode.parentNode); return false;" class="btn">Facebook ile bağlan </a>


        </li>

		<li class="login" >		
		<form action="{% url facebook_connect %}?facebook_login=1" method="post">
				<input type="hidden" value="{{ request.path }}" name="next" />
				<div id="facebook_login_js">
				<input onclick="F.connect(this.parentNode.parentNode); return false;"  type="button"  value="Face" /><br />
				</div>
	        </form>

			</li>
	        <li class="login">
            <a href="{% url auth_login %}" class="btn">Giriş </a>

		    </li>
    </ul>


{% endif %}


{# One line Comment Example #}

{% comment %} 
 PS: Çok satırlı comment örneği
 @Boss
{% endcomment %}

