<div id="shakes" class="topbar" data-dropdown="dropdown">	
					<div class="topbar-inner">
					<div id="welcome" onclick="location.href='/';" style="cursor:pointer;">Neyi Bekliyorsun?</div>
						<div class="container">
						
						<ul class="nav">
							<li><a href="/maceralar">Macera Bul</a></li>
							<li><a href="/macera/yeni" action="new">Macera Öner</a></li>
							<li><a href="/leaderboard">Puan Durumu</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle">Yardım</a>
						<ul class="dropdown-menu">
							<li><a href="/about">Hakkımızda</a></li>
							<li><a href="/faq">SSS</a></li>
							<li><a href="/help">Yardım</a>
							</ul>
							</li>
						</ul>
							<div class="login">
								<a href="#" class="fb-auth btn">Giriş</a>
							</div>
						</div>
					</div>
				</div>
