<div id="stats-bar">
					<li>
						<ul class="last">
							<a href="/users/lifecostumer"><img alt="1066_thumb" class="avatar" src="http://s3.amazonaws.com/rambler-production/avatars/1066_thumb.jpg?1344695910" /></a>
						</ul>

						<ul>
							<div class="title">COUNTRIES</div>
							<div class="stat icon-globe">0</div>
						</ul>

						<ul>
							<div class="title">COMPLETED</div>
							<div class="stat icon-map">0</div>
						</ul>

						<ul>
							<div class="title">RANK</div>
							<div class="stat icon-medal">
								n/a
							</div>
						</ul>

						<ul>
							<div class="title">POINTS</div>
							<div class="stat icon-star">0</div>
						</ul>
				</li>

</div><!-- /stats-bar -->

