<script type="text/javascript">
$(function() {
$('#slideout').hover(function() {
$(this).animate({left:'5px'}, {queue:false, duration: 500});
}, function() {
$(this).animate({left:'-85px'}, {queue:false, duration: 500});
});
});
</script>
<script type="text/javascript">
    jQuery(function($) {
        $('#slideClick').toggle(function() {
            $(this).parent().animate({left:'5px'}, {queue:false, duration: 500});
        }, function() {
            $(this).parent().animate({left:'-85px'}, {queue:false, duration: 500});
        });
    });
</script>


<div class="fixed">
<div id="slideout">
    <div id="slidecontent">
        <ul>
            <div class="title">sıra</div>
            <div class="stat icon-medal">{{ user.rank }}</div>
        </ul>
        <ul>
            <div class="title">puan</div>
            <div class="stat icon-star">{{ user.point }}</div>
        </ul>
        <ul>
            <div class="title">şehir</div>
            <div class="stat icon-globe"> {{ user.town }}</div>
        </ul>
        <ul>
            <div class="title">tamamlanan</div>
            <div class="stat icon-map"> ??? </div>
        </ul>

    </div>
    <div id="clickme">
	    <a href="/user/{{ user.id }}/profile/">
       <img alt="{{user.id}}" class="avatar" src="{{MEDIA_URL}}{{ user.image }}"/>
	    </a>
        <ul>
	        <a href="/user/{{ user.id }}/profile/">
            <div class="name">{{user.name }} {{user.surname }}</div>
	        </a>
        </ul>

    </div>
</div>
</div>

