#header {
    height: 50px;
}


#welcomer #message {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 65%;
    height: 170px;
    background: rgba(0, 0, 0, 0.7)
}

#welcomer #message h1 {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 30px;
    color: #D9CAAD;
    text-align: center;
    position: relative;
    padding-top: 15px
}

#welcomer #message p {
    font-size: 16px;
    color: #D9CAAD;
    text-align: center;
    position: relative;
    width: 800px;
    margin: 20px auto 20px auto
}

#welcomer #message span {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 13px;
    color: #FFF;
    margin: 0 5px 0 5px
}


#welcomer #message a.btn {
    cursor: pointer;
    display: inline-block;
    background-color: #000000;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#CC2900), to(#E84400));
    background-image: -moz-linear-gradient(top, #CC2900, #E84400);
    background-image: -ms-linear-gradient(top, #CC2900, #E84400);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CC2900), color-stop(100%, #E84400));
    background-image: -webkit-linear-gradient(top, #CC2900, #E84400);
    background-image: -o-linear-gradient(top, #CC2900, #E84400);
    background-image: linear-gradient(top, #CC2900, #E84400);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    line-height: normal;
    border-color: #c43c35 #c43c35 #882a25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    font: 11px arial;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin: 0;
}
#welcomer #message a.facebtn {
    cursor: pointer;
    background-color: #2C3F59;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#0F2440), to(#2C3F59));
    background-image: -moz-linear-gradient(top, #0F2440, #2C3F59);
    background-image: -ms-linear-gradient(top, #0F2440, #2C3F59);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0F2440), color-stop(100%, #2C3F59));
    background-image: -webkit-linear-gradient(top, #0F2440, #2C3F59);
    background-image: -o-linear-gradient(top, #0F2440, #2C3F59);
    background-image: linear-gradient(top, #0F2440, #2C3F59);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    line-height: normal;
    border-color: #c43c35 #c43c35 #882a25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    font: 11px arial;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin: 0;
}





#welcomer {
    height: 100%
}

#welcomer #rotator {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0
}

#welcomer #rotator div {
    height: 100%;
    width: 100%
}

#welcomer #rotator div span {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 25px;
    text-shadow: 2px 2px #000, -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: #C4E9CC;
    position: absolute;
    top: 50px;
    width: 70%;
    text-align: left;
    line-height: 1em
}
#welcomer #rotator div #point{
    font-family: 'Permanent Marker', sans-serif;
    font-size: 22px;
    text-shadow: 2px 2px #000, -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: #C4E9CC;
    position: absolute;
    width: 20%;
    text-align: right;
    line-height: 1em
}

#welcomer #rotator div span span {
    font-size: 25px
}

#welcomer #rotator div span div {
    font-size: 18px;
    text-align: left;
}

#welcomer #logo {
    position: absolute
}


html, body {
    margin: 0;
    padding: 0
}


table {
    border-collapse: collapse;
    border-spacing: 0
}

ol, ul {
    list-style: none
}

q:before, q:after, blockquote:before, blockquote:after {
    content: ""
}

html {
    overflow-y: scroll;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}


body {
    background-color: #ffffff;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    color: #000227
}

.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1
}

.container:before, .container:after {
    display: table;
    content: "";
    zoom: 1
}

.container:after {
    clear: both
}

.container-fluid {
    position: relative;
    min-width: 940px;
    padding-left: 20px;
    padding-right: 20px;
    zoom: 1
}

.container-fluid:before, .container-fluid:after {
    display: table;
    content: "";
    zoom: 1
}

.container-fluid:after {
    clear: both
}

.container-fluid>.sidebar {
    position: absolute;
    top: 0;
    left: 20px;
    width: 220px
}

.container-fluid>.content {
    margin-left: 240px
}














