* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}

#wrapper {
	width: 100%;
	min-width: 800px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 50px;
}

#welcome {
    font-family: 'Permanent Marker', Helvetica Neue, sans-serif;
    font-size: 26px;
    float: left;
    margin-top: 9px;
    text-shadow: 2px 2px #000;
    color: #ffffff
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 100px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 270px 0 190px;

}


/* Quest List
------------------------------------------------------------------------------*/

.quest-list-item{ //quest-list-item
width:300px;
    height:200px;
    float:left;
    margin:0 5px 15px 5px;
    position:relative
}

.quest-list-item-info {
    width: 280px;
    min-height: 65px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: rgba(0,0,0,0.65);
    color: #FFF;
}

.quest-list-item .tags {
    padding: 0 30px 0 0;
    position: absolute;
    bottom: 10px;
    right: -20px;
    opacity: 1;
}

.quest-list-item-info a, .quest-list-item-info a:visited {
    color: #FFF;
    clear: both;
    font-size: 17px;
    margin-bottom: 5px;
    line-height: 22px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}

/* Quest Page
------------------------------------------------------------------------------*/

.quest-photo-header {
    width: 933px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.quest-photo-header .title {
    background: rgba(255,255,255,0.9);
    color: #000;
    font-size: 25px;
    line-height: normal;
    width: 40%;
    position: absolute;
    left: 20px;
    bottom: 35px;
    padding: 15px;
}

.quest-photo-header .author {
    position: absolute;
    left: 20px;
    bottom: 14px;
}

.tabs{
    border-color:#ddd;
    border-style:solid;
    border-width:0 0 1px
}

.tabs,.pills{
    margin:0 0 18px;
    padding:0;
    list-style:none;zoom:1
}

.tabs:before,.pills:before,.tabs:after,.pills:after{
    display:table;
    content:"";
    zoom:1}

.tabs:after,.pills:after{
    clear:both
}

.tabs>li,.pills>li{
    float:left
}

.tabs>li>a,.pills>li>a{
    display:block
}

.tabs>li{
    position:relative;
    margin-bottom:-1px
}

.tabs>li>a{
    padding:0 15px;
    margin-right:2px;
    line-height:34px;
    border:1px solid transparent;
    -webkit-border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0
}

.tabs>li>a:hover{
    text-decoration:none;
    background-color:#eee;
    border-color:#eee #eee #ddd
}

.tabs .active>a,.tabs .active>a:hover{
    color:#808080;
    background-color:#ffffff;
    border:1px solid #ddd;
    border-bottom-color:transparent;
    cursor:default
}

.tabs .menu-dropdown,.tabs .dropdown-menu{
    top:35px;border-width:1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px
}

.tabs a.menu:after,.tabs .dropdown-toggle:after{
    border-top-color:#999;
    margin-top:15px;margin-left:5px
}

.tabs li.open.menu .menu,.tabs .open.dropdown .dropdown-toggle{
    border-color:#999
}

.tabs li.open a.menu:after,.tabs .dropdown.open .dropdown-toggle:after{
    border-top-color:#555
}

#quest-tabs {
    margin-top: 20px;
    color: #194b72;
    margin-bottom: 0;
}

#quest-tabs .complete{
    float:right
}

#quest-tabs .complete.status{
    padding:8px 5px;
    font-weight:bold;
    color:#ED1355
}

#quest-tabs .complete a{
    font-weight:bold
}

#quest-tabs .count{
    background:#ed1355;-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;color:#FFF;
    line-height:normal;
    font-size:9px;
    padding:3px 8px 3px 8px;
    margin:7px 0 0 5px
}

.tab-content {
    background: #FFF;
    border-left: #999 solid 1px;
    border-right: #999 solid 1px;
    border-bottom: #999 solid 1px;
    padding: 25px 20px;
    overflow: auto;
    width: 897px;
}


#quest-info {
    margin-top: 25px;
    min-width: 0;
}

.container-fluid {
    position: relative;
    min-width: 940px;
    padding-left: 20px;
    padding-right: 20px;
    zoom: 1;
}

.container-fluid::before, .container-fluid::after {
    display: table;
    content: "";
    zoom: 1;
}

.container-fluid::after {
    clear: both;
}

.container-fluid > .sidebar {
    position: absolute;
    top: 0;
    left: 20px;
    width: 220px;
}

.well {
    background-color: #f5f5f5;
    margin-bottom: 20px;
    padding: 19px;
    min-height: 20px;
    border: 1px solid #eee;
    border: 1px solid rgba(0,0,0,0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

#quest-info .well {
    background: url("/assets/bg-stats-bar.png") repeat scroll 0 0 #e5e5e5;
    padding: 19px 19px 10px 19px;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 185px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}

.fixed {
    position: fixed;
    margin-top: 10%;
}
#slidecontent ul .title, #clickme ul .title {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    color: #000000
}

#slidecontent ul .stat, #clickme ul .stat {
    border-top: #373E2B solid 3px;
    width: 60px;
    text-align: center;
    line-height: 38px;
    color: #373E2B;
    font-size: 30px;
    padding: 0 12px 0 12px
}

#slideout {
    background:#DEFFAE;
    position:absolute;
    width:170px;
    height:100px;
    top:45%;
    left:-85px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;

}
#clickme .avatar  {
    float:right;
    height:85px;
    width:84px;
    background:#DEFFAE;
    margin-bottom: 5px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
}
#clickme .name, .surname  {
    margin: 5px 0 0 0;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    text-align: left;
    color: #000000
}
#clickme    {
    float:right;
    height:150px;
    width:85px;
    background:#DEFFAE;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}
#slidecontent {
    float:left;
    height:250px;
    width:85px;
    background:#DEFFAE;
    -webkit-border-radius: 10px 0 10px 10px;
    -moz-border-radius: 10px 0 10px 10px;
    border-radius: 10px 0 10px 10px;
}

#stats-bar .sign-up-btn {
    float: right;
    margin-top: 15px
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 250px;
	margin-left: -250px;
	position: relative;
	background: #FFACAA;

}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -100px auto 0;
	min-width: 800px;
	height: 100px;
	background: #BFF08E;
	position: relative;
}
