* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}

#wrapper {
	width: 100%;
	min-width: 800px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 50px;
}

#welcome {
    font-family: 'Permanent Marker', Helvetica Neue, sans-serif;
    font-size: 26px;
    float: left;
    margin-top: 9px;
    text-shadow: 2px 2px #000;
    color: #ffffff
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 100px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 270px 0 190px;

}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 185px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}

.fixed {
    position: fixed;
    margin-top: 10%;
}
#slidecontent ul .title, #clickme ul .title {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    color: #000000
}

#slidecontent ul .stat, #clickme ul .stat {
    border-top: #373E2B solid 3px;
    width: 60px;
    text-align: center;
    line-height: 38px;
    color: #373E2B;
    font-size: 30px;
    padding: 0 12px 0 12px
}



#slideout {
    background:#DEFFAE;
    position:absolute;
    width:170px;
    height:100px;
    top:45%;
    left:-85px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;

}
#clickme .avatar  {
    float:right;
    height:85px;
    width:84px;
    background:#DEFFAE;
    margin-bottom: 5px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
}
#clickme .name, .surname  {
    margin: 5px 0 0 0;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    text-align: left;
    color: #000000
}
#clickme    {
    float:right;
    height:150px;
    width:85px;
    background:#DEFFAE;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}
#slidecontent {
    float:left;
    height:250px;
    width:85px;
    background:#DEFFAE;
    -webkit-border-radius: 10px 0 10px 10px;
    -moz-border-radius: 10px 0 10px 10px;
    border-radius: 10px 0 10px 10px;
}

#stats-bar .sign-up-btn {
    float: right;
    margin-top: 15px
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 250px;
	margin-left: -250px;
	position: relative;
	background: #FFACAA;

}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -100px auto 0;
	min-width: 800px;
	height: 100px;
	background: #BFF08E;
	position: relative;
}
